*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
div{ 
    position:relative;
    margin: 1.5rem 0; 
    padding: 5px 6px;
    height:200px; width: 812px;
    border: solid 1px rgb(206, 204, 204);
}
.btn-transition{
    display: flex;
    justify-content: center; align-items: center;
    color: skyblue; border-radius: 2px;
    width: 200px; height: 30px;
    margin:6px 0;
    background: blue;
}
.btn-transition.has-transition{
    transition: all ease-in-out .5s .1s;
    /* transition-property: all; */
    transition-timing-function: cubic-bezier(0.175, 0.182, 0.165, 1);
    /* transition-duration: .5s; */
    /* transition-delay: .1s; */
}

.btn-active .btn-transition{
    transform: translateX(300%);
}
@media (max-width: 500px){
    div{
        height:200px; width: 408px; 
        padding: 3px 4px;
    }
    .btn-transition{
        font-size: smaller;
        padding: 0 5px;
        width: 100px; height: 40px;
    }
}
@media (max-width: 350px){
    div{
        height:150px; width: 310px; 
        padding: 3px 4px;
    }
    .btn-transition{
        font-size: smaller;
        padding: 0 5px;
        width: 100px; height: 40px;
    }
    .btn-active .btn-transition{
        transform: translateX(200%);
    }
}
@media (max-width: 350px){
    div{
        height:150px; width: 310px; 
        padding: 3px 4px;
    }
    .btn-transition{
        font-size: smaller;
        padding: 0 5px;
        width: 100px; height: 40px;
    }
    .btn-active .btn-transition{
        transform: translateX(100%);
    }
}